.register-form-container {
  margin-top: 50px;
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
.register-form > input {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
}
.register-form > input:focus {
  outline: none;
}
